@model IEnumerable<ProjectTask>
<div class="row">
    @{
        int i = 0;
        foreach (var item in Model)
        {
            i++;
            <div class="col-lg-4">
                <div class="card team-card">
                    <div class="card-body">
                        <div class="float-end">
                            <div class="dropdown d-inline-block">
                                <a class="dropdown-toggle arrow-none" id="dLabel1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="las la-ellipsis-v font-24 text-muted"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dLabel1">
                                    <a class="dropdown-item" href="#">تعديل المهمة</a>
                                    @*     <a onclick="showInPopup('@Url.Action("CreateOrEditTask","ProjectTasks",new {id=item.Id},Context.Request.Scheme)','تعديل')" class="mdi mdi-pencil-outline text-muted font-18">
                            </a> *@
                                    <a class="dropdown-item" href="#">حذف المهمة</a>
                                </div>
                            </div>
                        </div>
                        <div class="media align-items-center">
                            <img src="~/images/users/1.jpg" alt="" class="rounded-circle user-img">
                            <div class="online-circle">
                                <i class="fa fa-circle text-success"></i>
                            </div>
                            <div class="media-body ms-3 align-self-center">
                                <h4 class="team-leader m-0">عزالدين شليبك</h4>
                                <p class="text-muted font-12 mb-0">اضافة مقترح مشروع</p>
                            </div>
                        </div>
                        <h4 class="m-0 mt-4 font-14 font-weight-semibold">وصف المهمة</h4>
                        <p class="text-muted mb-0">اضافة مقترج لمشروع تخرج جديد</p>
                        <div class="mt-4 d-flex justify-content-between">
                            <div>
                                <h5 class="team-leader m-0">حالة المهمة :</h5>
                                <p class="text-muted font-12 mb-0"> بنتظار البدء</p>

                            </div>
                            <div>
                                <h5 class="team-leader m-0">أولوية المهمة</h5>
                                <p class="text-muted font-12 mb-0">أولوية متوسطة</p>
                            </div>
                        </div>

                    </div><!--end card-body-->
                </div><!--end card-->
            </div>

        }







    }
</div>