@model Project
@{
    Layout = null;
    <form asp-controller="Project" asp-action="CreateOrEditProject" enctype="multipart/form-data" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this); ">
        <div class="mb-3">
            <label for="projectName" class="form-label">المهمة</label>
            <input type="text" class="form-control" id="projectName" placeholder="أدخل المهمة">
        </div>
        <div class="mb-3">
            <label for="startDate" class="form-label">تاريخ البدء</label>
            <input type="datetime" class="form-control" id="startDate">
        </div>
        <div class="mb-3">
            <label for="startDate" class="form-label">تاريخ الانتهاء</label>
            <input type="datetime" class="form-control" id="startDate">
        </div>
        <div class="row mb-3  ">
            <label class="form-label">المستخدمين</label>
            <div class="col-sm-12">
                <select class="form-control">
                    <option selected>اضافة مستخدمين</option>
                    <option value="1">ايمن</option>
                    <option value="2">عزالدين</option>
                    <option value="3">علي</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="addFile" class="form-label">اضافة ملفات</label>
            <input type="file" multiple class="form-control" id="addFile">
        </div>
        <div class="row mb-3">
            <label for="TaskDescription" class="form-label">الوصف</label>
            <textarea class="form-control" id="TaskDescription" placeholder="وصف للمهمة" rows="3"></textarea>
        </div>
        <div class="row mb-3">
            <label class="form-label me-5">الحالة</label>
            <div class="d-inline">

                <input type="radio" class="btn-check" name="btnradio" id="pic1" autocomplete="off" checked>
                <label class="btn btn-lg btn-outline-primary m-3" for="male">
                    ذكر
                    <i class="fas fa-clock" style="font-size:25px"></i>
                </label>


                <input type="radio" class="btn-check" name="btnradio" id="pic1" checked>
                <label class="btn rounded-3 mx-2 bg-transparent" for="pic1">
                    <img class="rounded-5" src="~/images/users/1.jpg" style="width:32px ;height:32px ;"
                         onclick="updateProfileImage('1')" />
                </label>

                <input type="radio" class="btn-check" name="btnradio" id="pic1" checked>
                <label class="btn rounded-3 mx-2 bg-transparent" for="pic1">
                    <i class="fas fa-clock"></i>
                </label>
             
                    <label class="btn btn-sm me-2 btn-outline-purple" title="بانتظار البدء">
                        <input type="radio" name="status" autocomplete="off">
                        <i class="fas fa-clock"></i>
                    </label>
                    <label class="btn btn-sm me-2 btn-outline-danger" title="توقف حرج">
                        <input type="radio" name="status" autocomplete="off">
                        <i class="far fa-stop-circle"></i>
                    </label>
                    <label class="btn btn-sm me-2 btn-outline-warning" title="بانتظار المراجعة">
                        <input type="radio" name="status" autocomplete="off">
                        <i class="fas fa-clipboard-check"></i>
                    </label>
                    <label class="btn btn-sm me-2 btn-outline-blue" title="قيد التنفيذ">
                        <input type="radio" name="status" autocomplete="off">
                        <i class="fas fa-tasks"></i>
                    </label>
                    <label class="btn btn-sm me-2 btn-outline-success" title="مكتملة">
                        <input type="radio" name="status" autocomplete="off">
                        <i class="fas fa-check-circle"></i>
                    </label>
           


                @*         <a href="#" class="btn btn-sm me-2 btn-outline-purple  " title="بانتظار البدء"> <i class="fas fa-clock"></i></a>
            <a href="#" class="btn btn-sm me-2 btn-outline-danger  " title="توقف حرج">  <i class="far fa-stop-circle"></i>  </a>
            <a href="#" class="btn btn-sm me-2 btn-outline-warning  " title="بانتظار المراجعة"><i class="fas fa-clipboard-check"></i></a>
            <a href="#" class="btn btn-sm me-2 btn-outline-blue  " title="قيد التنفيد">   <i class="fas fa-tasks"></i></a>
            <a href="#" class="btn btn-sm me-2 btn-outline-success  " title="مكتملة">    <i class="fas fa-check-circle"></i></a> *@
            </div>
        </div>

        <div class=" row mb-3">
            <label class="form-label me-5">الاولوية</label>
            <div class="d-inline">
                <a href="#" class="btn btn-sm me-2 btn-outline-secondary  " title="بدون اولوية"><i class="far fa-flag"></i></a>
                <a href="#" class="btn btn-sm me-2 btn-outline-pink  " title="اولوية مبدئية"> <i class="far fa-flag"></i></a>
                <a href="#" class="btn btn-sm me-2 btn-outline-warning  " title=" اولوية متوسطة"><i class="far fa-flag"></i> </a>
                <a href="#" class="btn btn-sm me-2 btn-outline-danger  " title="اولوية قصوى">   <i class="far fa-flag"></i></a>
            </div>
        </div>
        <button type="button" class="btn btn-outline-pink" data-bs-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-outline-purple" data-bs-dismiss="modal">إضافة</button>
    </form>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}