@model Project
@{
    Layout = null;
    <form asp-controller="Project" asp-action="CreateOrEditProject" enctype="multipart/form-data" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this); ">
        <div class="mb-3">
            <label for="projectName" class="form-label">المهمة</label>
            <input type="text" class="form-control" id="projectName" placeholder="أدخل المهمة">
        </div>
        <div class="mb-3">
            <label for="startDate" class="form-label">تاريخ البدء</label>
            <input type="datetime" class="form-control" id="startDate">
        </div>
        <div class="mb-3">
            <label for="startDate" class="form-label">تاريخ الانتهاء</label>
            <input type="datetime" class="form-control" id="startDate">
        </div>
        <div class="row mb-3  ">
            <label class="form-label">المستخدمين</label>
            <div class="col-sm-12">
                <select class="form-control">
                    <option selected>اضافة مستخدمين</option>
                    <option value="1">ايمن</option>
                    <option value="2">عزالدين</option>
                    <option value="3">علي</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="addFile" class="form-label">اضافة ملفات</label>
            <input type="file" multiple class="form-control" id="addFile">
        </div>
        <div class="row mb-3">
            <label for="TaskDescription" class="form-label">الوصف</label>
            <textarea class="form-control" id="TaskDescription" placeholder="وصف للمهمة" rows="3"></textarea>
        </div>
        <div class="row mb-3">
            <label class="form-label me-5">الحالة</label>
            <div class="d-inline">
                <input type="radio" class="btn-check" name="State" id="State1" autocomplete="off" checked>
                <label class="btn btn-sm me-2 btn-outline-purple  " title="بانتظار البدء" for="State1"><i class="fas fa-clock"></i></label>

                <input type="radio" class="btn-check" name="State" id="State2" autocomplete="off" checked>
                <label class="btn btn-sm me-2 btn-outline-danger  " title="توقف حرج" for="State2"><i class="far fa-stop-circle"></i></label>
 
                <input type="radio" class="btn-check" name="State" id="State3" autocomplete="off" checked>
                <label class="btn btn-sm me-2 btn-outline-warning  " title="بانتظار المراجعة" for="State3"><i class="fas fa-clipboard-check"></i></label>

                <input type="radio" class="btn-check" name="State" id="State4" autocomplete="off" checked>
                <label class="btn btn-sm me-2 btn-outline-blue  " title="قيد التنفيد" for="State4"><i class="fas fa-tasks"></i></label>

                <input type="radio" class="btn-check" name="State" id="State5" autocomplete="off" checked>
                <label class="btn btn-sm me-2 btn-outline-success  " title="مكتملة" for="State5"><i class="fas fa-check-circle"></i></label>
            </div>
        </div>

        <div class=" row mb-3">
            <label class="form-label me-5">الاولوية</label>
            <div class="d-inline">
                <input type="radio" class="btn-check" name="Priorty" id="pro1" autocomplete="off" checked>
                <label class="btn btn-sm me-2 btn-outline-secondary  " title="بدون اولوية" for="pro1"> <i class="far fa-flag"></i></label>

                <input type="radio" class="btn-check" name="Priorty" id="pro2" autocomplete="off" checked>
                <label class="btn btn-sm me-2 btn-outline-pink  " title="اولوية مبدئية" for="pro2"> <i class="far fa-flag"></i> </label>

                <input type="radio" class="btn-check" name="Priorty" id="pro3" autocomplete="off" checked>
                <label class="btn btn-sm me-2 btn-outline-warning  " title=" اولوية متوسطة" for="pro3"> <i class="far fa-flag"></i>  </label>

                <input type="radio" class="btn-check" name="Priorty" id="pro4" autocomplete="off" checked>
                <label class="btn btn-sm me-2 btn-outline-danger  " title="اولوية قصوى" for="pro4"> <i class="far fa-flag"></i> </label>
               
            </div>
        </div>
        <button type="button" class="btn btn-outline-pink" data-bs-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-outline-purple" data-bs-dismiss="modal">إضافة</button>
    </form>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}