@model List<TaskListViewModel>

@{
    ViewData["Title"] = "المهام";
}

<div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title"> المهام</h4>


                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <h5 class="mt-0">قائمة بالمهام المراد ادارتها. <span class="badge badge-pink">6</span></h5>
                    </li>
                </ul>
            </div>

            <div class="col-lg-6 text-end">
                <div class="text-end">
                    @if (User.IsInRole("Admin")){
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <button type="button" onclick="showInPopup('@Url.Action("CreateOrEditTask","ProjectTasks",new {projectId=ViewBag.projectId},Context.Request.Scheme)','إضافة مهمة جديده')" class="btn btn-soft-primary btn-sm">
                                <i class="fa fa-plus ml-2"></i>      إضافة مهمة جديدة
                            </button>
                        </li>
                    </ul>
                    }
                </div>
            </div>
        </div>

    </div>

    <div class="portlet-body">
        <div id="view-all">

            @await Html.PartialAsync("_ViewAllTasks", Model)
        </div>
    </div>
</div>

<div class="modal fade modal-container" tabindex="-1" role="dialog" aria-hidden="true" id="form-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn btn-label-danger btn-icon" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body ">
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>
