@model UserClaimsViewModel


<form method="post">
    <div class="portlet">
        <div class="portlet-header portlet-header-bordered">
            <h3 class="portlet-title">صلاحيات </h3>
        </div>
        <div class="portlet-body">
                @for (int i = 0; i < Model.Claims.Count; i++)
                {
                    <div class="form-group">
                        <div class="radio">
                            <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                            <label>
                                <input asp-for="@Model.Claims[i].IsSelected" />
                                @Model.Claims[i].ClaimType
                            </label>

                        </div>
                    </div>
                }
            </div>
        <div class="portlet-footer">
            <input type="submit" value="تعديل" asp-controller="UsersRoles" asp-action="EditUserClaims"
                   asp-route-userId="@Model.UserId" class="btn btn-primary" />
        </div>
    </div>
</form>





