<footer class="footer text-center text-sm-start  text-white " style="  background-color:#083344 ;">
     <script >
               document.write(new Date().getFullYear())
    </script> Flow Master.app  &copy; جميع الحقوق محفوظة <span class="text-muted d-none d-sm-inline-block float-end">
       
    </span>
</footer><!--end footer-->