<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-------------fontawesome links---------------->
    <link href="~/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <!------------------------------------------------->
    <link href="~/css2/StyleSheet.css" rel="stylesheet" />
    <!--<link href="lib/twitter-bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />-->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <title></title>
</head>
<body class="cairo">




    <!--------------navbar------------------------>




    @await Component.InvokeAsync("Nav")


    @RenderBody()







    <!----------------------footer----------------------->
    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>