<!-----------------hero section----------------------->

<div class="mix">

    <div class="row d-flex justify-content-center align-items-center   padding1" style="margin:0;">
        <div class="col-lg-5">
            <h1 class="p1-midl animated-text  ">منصة لتحسين إدارة سير  العمل الخاص بك</h1>
            <h5 class="p2-midl  animated-text">
                قم بإعداد فريقك لتحقيق النجاح من خلال مركزية تخطيط أعباء
                العمل وتوفير الموارد والمراقبة في نظام أساسي واحد قوي
            </h5>
            <div class=" d-flex  justify-content-lg-start justify-content-sm-center gap-3 mt-4  ">

                <a class=" btn btn-purple  py-lg-2 px-lg-5 py-sm-2 fs-4 ">ابدأ الان </a>

            </div>
        </div>

        <div class="col-lg-7 d-flex justify-content-center  ">
            <img src="~/images2/Standup meeting-pana.png" class="img-midl" />
        </div>


    </div>

</div>


<!-------------wave section----------------->


<img src="~/images2/wave(5).svg" class="" />
<div class="waves1 ">
    <p class="p-wave py-lg-0 pb-sm-3 pt-sm-5 pb-sm-3">اكتشف مزايا هذا النظام </p>
    <div class="row d-flex justify-content-center gap-lg-3 " style="margin:0;">

        <div class="col-lg-3   col-sm-8 card card1">
            <img src="~/images2/workflow-tabs.webp" class=" img-card" />
            <div class="card-body">
                <h5 class="card-title card-f1">سير العمل</h5>
                <p class="card-text card-f2" style="color: #71717a ">يمكنك إنشاء المهام وتتبعها وأتمتتها وإكمالها لتبسيط العمليات وتحسين الكفاءة.</p>
            </div>
        </div>
        <div class="col-lg-3   col-sm-8 card card1">
            <img src="~/images2/Site Stats-amico (1).png" class=" img-card" />

            <div class="card-body">
                <h5 class="card-title card-f1 ">وحدة المراقبة المركزية</h5>
                <p class="card-text card-f2" style="color: #71717a ">يمكنك إنشاء المهام وتتبعها وأتمتتها وإكمالها لتبسيط العمليات وتحسين الكفاءة.</p>
            </div>
        </div>
        <div class="col-lg-3  col-sm-8 card card1">
            <img src="~/images2/Standup meeting-pana.png" class=" img-card" />
            <div class="card-body">
                <h5 class="card-title card-f1 ">المهام والتعاون الفعال</h5>
                <p class="card-text card-f2" style="color: #71717a ">يمكنك إنشاء المهام وتتبعها وأتمتتها وإكمالها لتبسيط العمليات وتحسين الكفاءة.</p>
            </div>
        </div>

    </div>
</div>
<img src="~/images2/wave(6).svg" class="wave2-img" />
<!-------------------------------interfaces section----------------------------------->
@* 
<div class="row container-lg   d-flex justify-content-center align-items-center sec1  ">

    <div class="col-lg-7 d-flex justify-content-center">
        <img src="~/images2/efficiency.webp" class="sec1-img " />
    </div>
    <div class="col-lg-5 ">
        <p class="sec2-p1">تبسيط وأتمتة سير العمل</p>
        <p class="sec2-p2">
            أتم المهام المتكررة  وفي الوقت المناسب. <br />

    </div>
</div>

<div class="row container-lg   d-flex justify-content-center align-items-center sec1" style="margin-bottom:100px; ">

    <div class="col-lg-7 d-flex justify-content-center">
        <img src="~/images2/data-driven.webp" class="sec1-img" />
    </div>
    <div class="col-lg-5 ">
        <p class="sec2-p1">تبسيط وأتمتة سير العمل</p>
        <p class="sec2-p2">
            أتم المهام المتكررة  وفي الوقت المناسب. <br /> راقب تقدم فريقك من خلال التنبيهات وتحديثات  <br />الحالة التلقائية وتدفقات المشروع.
        </p>

    </div>
</div> *@