@model ForgotPasswordViewModel

@{
    ViewBag.Title = "نسيت كلمة المرور";
}
<section class="contact-area section--padding position-relative">
    <span class="ring-shape ring-shape-1"></span>
    <span class="ring-shape ring-shape-2"></span>
    <span class="ring-shape ring-shape-3"></span>
    <span class="ring-shape ring-shape-4"></span>
    <span class="ring-shape ring-shape-5"></span>
    <span class="ring-shape ring-shape-6"></span>
    <span class="ring-shape ring-shape-7"></span>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="card card-item">
                    <div class="card-body">
                        <h3 class="card-title text-center fs-24 lh-35 pb-4">نسيت كلمة المرور</h3>
                        <div class="section-block"></div>
                        <form asp-action="ForgotPassword" asp-controller="Account" method="post" class="pt-4">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="input-box">
                                <label asp-for="Email" class="label-text">البريد الإلكتروني</label>
                                <div class="form-group">
                                    <input asp-for="Email" class="form-control form--control" type="text">
                                    <span class="la la-user input-icon"></span>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
     
                            <div class="btn-box">
                                <button class="btn theme-btn" type="submit">ارسال الى البريد الإكتروني<i class="la la-arrow-right icon ml-1"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><
    </div>
</section>




@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
