<div class="container">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title"> إحصائيات النظام</h4>

                    </div><!--end col-->

                </div><!--end row-->
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row m-4 ">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex justify-content-around">
                            <div class="media-body text-right">
                                <h6>عدد المشاريع</h6>
                                <h3> @ViewBag.Projects </h3>
                            </div>
                            <div class="align-self-end ">
                                <img class="text-center" src="~/images/project (1).png" height="90" width="90" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex justify-content-around">
                            <div class="media-body text-right">
                                <h6>عدد المهام</h6>
                                <h3> @ViewBag.Tasks </h3>
                            </div>
                            <div class="align-self-end ">
                                <img class="text-center" src="~/images/task.png" height="90" width="90" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex justify-content-around">
                            <div class="media-body text-right">
                                <h6>عدد المستخدمين</h6>
                                <h3> @ViewBag.users  </h3>
                            </div>
                            <div class="align-self-end ">
                                <img class="text-center" src="~/images/group.png" height="90" width="90" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex justify-content-around">
                            <div class="media-body text-right">
                                <h6>عدد الفرق</h6>
                                <h3>@ViewBag.Teams</h3>
                            </div>
                            <div class="align-self-end ">
                                <img class="text-center" src="~/images/networking.png" height="90" width="90" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- container -->
@section styles {
    <!-- DataTables -->
    <link href="~/lib/datatables/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/datatables/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css" />
}

@section scripts {
    <!-- Required datatable js -->
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript">
        $('#datatable').DataTable();
    </script>
}