<div class="container">
    <div class="row m-3">
        <div class="col-lg-6 border border-2 ">
            <div class="card-body">
                <div class="mb-3">
                    <label for="projectName" class="form-label">عنوان المهمة</label>
                    <input type="text" class="form-control" id="projectName">
                </div>
                <div class="mb-3">
                    <label for="projectName" class="form-label">وصف المهمة</label>
                    <input type="text" class="form-control" id="projectName">
                </div>
                <div class="mb-3">
                    <label for="startDate" class="form-label">تاريخ البداية</label>
                    <input type="date" class="form-control" id="startDate">
                </div>
                <div class="mb-3">
                    <label for="endDate" class="form-label">تاريخ النهاية</label>
                    <input type="date" class="form-control" id="endDate">
                </div>
                <div class="mb-3">
                    <label for="projectName" class="form-label">اسم المستخدم</label>
                    <input type="text" class="form-control" id="projectName">
                </div>
                <div class="row mb-3">
                    <label class="form-label me-5">الحالة</label>
                    <div class="d-inline">
                        <a href="#" class="btn btn-sm me-2 btn-outline-purple  " title="بانتظار البدء"> <i class="fas fa-clock"></i></a>
                        <a href="#" class="btn btn-sm me-2 btn-outline-danger  " title="توقف حرج">  <i class="far fa-stop-circle"></i>  </a>
                        <a href="#" class="btn btn-sm me-2 btn-outline-warning  " title="بانتظار المراجعة"><i class="fas fa-clipboard-check"></i></a>
                        <a href="#" class="btn btn-sm me-2 btn-outline-blue  " title="قيد التنفيد">   <i class="fas fa-tasks"></i></a>
                        <a href="#" class="btn btn-sm me-2 btn-outline-success  " title="مكتملة">    <i class="fas fa-check-circle"></i></a>
                    </div>
                    <div class=" row mt-3">
                        <label class="form-label me-5">الاولوية</label>
                        <div class="d-inline">
                            <a href="#" class="btn btn-sm me-2 btn-outline-secondary  " title="بدون اولوية"><i class="far fa-flag"></i></a>
                            <a href="#" class="btn btn-sm me-2 btn-outline-pink  " title="اولوية مبدئية"> <i class="far fa-flag"></i></a>
                            <a href="#" class="btn btn-sm me-2 btn-outline-warning  " title=" اولوية متوسطة"><i class="far fa-flag"></i> </a>
                            <a href="#" class="btn btn-sm me-2 btn-outline-danger  " title="اولوية قصوى">   <i class="far fa-flag"></i></a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <label for="addFile" class="form-label">اضافة ملفات</label>
                        <input type="file" multiple class="form-control" id="addFile">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 border border-2 ">
            <div class="card-body">
                <h5>التعليقات</h5>
                <div class="col-12">
                    <div class="card team-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <img src="~/images/users/1.jpg" alt="" class="rounded-circle user-img">
                                <div class="online-circle">
                                    <i class="fa fa-circle text-success"></i>
                                </div>
                                <div class="media-body ms-3 align-self-center">
                                    <h4 class="team-leader m-0">عزالدين شليبك</h4>
                                </div>
                            </div>
                            <p class="text-muted mb-0">السلام عليكم ورحمة الله وبركاته معاكم احمد محسن من قناة مكملين السلام عليكم ورحمة الله وبركاته معاكم احمد محسن من قناة مكملين</p>
                        </div>
                    </div>
                </div>
                
                <div class="my-3">
                    <textarea class="form-control" id="projectDescription" placeholder="اضافة تعليق" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-outline-purple" data-bs-dismiss="modal">
                    تعليق
                    <i class="mdi mdi-send"></i>
                </button>
            </div>


        </div>




        @section styles {

        }

        @section scripts {
            <script src="~/lib/apex-charts/apexcharts.min.js"></script>
            <script src="~/js/pages/jquery.task.init.js"></script>
        }
