<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">المفضلة </h4>

                    </div><!--end col-->
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6 class="mt-3 text-muted">قائمة بالمفضلات . <span class="badge badge-pink">6</span></h6>
                                </li>
                            </ul>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>