<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">مهامي</h4>
                    </div><!--end col-->

                </div><!--end row-->
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div><!--end row-->
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table id="datatable" class="table table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th>عنوان المهمة</th>
                            <th>وصف المهمة</th>
                            <th>تاريخ البدء</th>
                            <th>حالة المهمة</th>
                            <th>اولوية المهمة</th>
                            <th>العمليات</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>
                                <p class="d-inline-block align-middle mb-0 product-name">أضافة طلبات الانضمام</p>
                            </td>
                            <td>اضافة ملفات مهمة لكل مستخدم موجود ووووو</td>
                            <td>12-12-2012</td>
                            <td>بانتظار البدء</td>
                            <td>اولوية قصوى</td>
                      
                            <td>
                                <a href="#"><i class="las la-pen text-secondary font-16"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

</div>

<!-- end page-wrapper -->
<!-- jQuery  -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/metismenu.min.js"></script>
<script src="assets/js/waves.js"></script>
<script src="assets/js/feather.min.js"></script>
<script src="assets/js/simplebar.min.js"></script>
<script src="assets/js/moment.js"></script>
<script src="../plugins/daterangepicker/daterangepicker.js"></script>

<script src="../plugins/dragula/dragula.min.js"></script>
<script src="assets/pages/jquery.dragula.init.js"></script>

<!-- App js -->
<script src="assets/js/app.js"></script>
