<div class="container-lg">
    <div class="col-lg-6 d-flex align-content-center">
        <div class="card m-5">
            <div class="card-content">
                <div class="card-body">
                    <h1 class="text-success text-center">هذا الموقع فعال الان</h1>
                </div>
                <hr class="hr-dashed">
                <div class="m-5   ">
                    <button class="btn btn-outline-success  ">تفعيل</button>
                    <button class="btn btn-outline-danger  ">أيقاف</button>
                </div>
            </div>
        </div>
    </div>

</div><!-- container -->
@section styles {

}

@section scripts {
    <script src="~/lib/apex-charts/apexcharts.min.js"></script>
    <script src="~/js/pages/jquery.projects_overview.init.js"></script>
}