<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">جدول  زمني لاداء الفريق</h4>
                   
                    </div><!--end col-->
             
                </div><!--end row-->
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div><!--end row-->

    <div class="row">
        <div class="col-lg-6 border border-2 ">
            <div class="card-body">
                <div class="mb-3">
                    <label for="projectName" class="form-label">الموقع</label>
                    <input type="text" class="form-control" id="projectName">
                </div>
                <div class="mb-3">
                    <label for="projectName" class="form-label">البريد الالكتروني</label>
                    <input type="text" class="form-control" id="projectName">
                </div>
               
            </div>
        </div>
    </div><!-- End row -->

</div><!-- container -->

@section styles{
    <!--calendar css-->
    <link href="~/lib/fullcalendar/packages/core/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/packages/daygrid/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/packages/bootstrap/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/packages/timegrid/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/packages/list/main.css" rel="stylesheet" />
    <link href="~/lib/lightpick/lightpick.css" rel="stylesheet" />
}

@section scripts{
    <script src='~/lib/fullcalendar/packages/core/main.js'></script>
    <script src='~/lib/fullcalendar/packages/daygrid/main.js'></script>
    <script src='~/lib/fullcalendar/packages/timegrid/main.js'></script>
    <script src='~/lib/fullcalendar/packages/interaction/main.js'></script>
    <script src='~/lib/fullcalendar/packages/list/main.js'></script>
    <script src="~/lib/lightpick/lightpick.js"></script>
    <script src='~/js/pages/jquery.calendar.js'></script>
}