<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">المهام</h4>

                    </div><!--end col-->
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6 class="mt-3 text-muted">قائمة بجميع المهام. <span class="badge badge-pink">6</span></h6>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 text-end">
                            <div class="text-end">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <button type="button" class="btn btn-sm btn-soft-primary" data-bs-toggle="modal" data-bs-target="#AddTask">أضف مهمة جديدة</button>
                                    </li>
                                </ul>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
                <!--end col-->
            </div><!--end row-->
        </div><!--end page-title-box-->
    </div><!--end col-->
</div><!--end row-->
<!-- end page title end breadcrumb -->




<div class="row">
   
    <div class="col-lg-4">
        <div class="card team-card">
            <div class="card-body">
                <div class="float-end">
                    <div class="dropdown d-inline-block">
                        <a class="dropdown-toggle arrow-none" id="dLabel1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="las la-ellipsis-v font-24 text-muted"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dLabel1">
                            <a class="dropdown-item" href="#">عرض المهمة</a>
                            <a class="dropdown-item" href="#">تعديل المهمة</a>
                            <a class="dropdown-item" href="#">حذف المهمة</a>
                        </div>
                    </div>
                </div>
                <div class="media align-items-center">
                    <img src="~/images/users/1.jpg" alt="" class="rounded-circle user-img">
                    <div class="online-circle">
                        <i class="fa fa-circle text-success"></i>
                    </div>
                    <div class="media-body ms-3 align-self-center">
                        <h4 class="team-leader m-0">عزالدين شليبك</h4>
                        <p class="text-muted font-12 mb-0">اضافة مقترح مشروع</p>
                    </div>
                </div>
                <h4 class="m-0 mt-4 font-14 font-weight-semibold">وصف المهمة</h4>
                <p class="text-muted mb-0">اضافة مقترج لمشروع تخرج جديد</p>
                <div class="mt-4 d-flex justify-content-between">
                    <div>
                        <h5 class="team-leader m-0">حالة المهمة :</h5>
                        <p class="text-muted font-12 mb-0"> بنتظار البدء</p>
 
                    </div>
                    <div>
                        <h5 class="team-leader m-0">أولوية المهمة</h5>
                        <p class="text-muted font-12 mb-0">أولوية متوسطة</p>
                    </div>
                </div>
      
            </div><!--end card-body-->
        </div><!--end card-->
    </div>
   
    

</div>

    <div class="modal fade" id="AddTask" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="font-family:Cairo">إضافة مهمة</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="projectName" class="form-label">المهمة</label>
                        <input type="text" class="form-control" id="projectName" placeholder="أدخل المهمة">
                    </div>
                    <div class="mb-3">
                        <label for="startDate" class="form-label">تاريخ البدء</label>
                    <input type="datetime" class="form-control" id="startDate">
                    </div>
                <div class="mb-3">
                    <label for="startDate" class="form-label">تاريخ الانتهاء</label>
                    <input type="datetime" class="form-control" id="startDate">
                </div>
                    <div class="row mb-3  ">
                        <label class="form-label">المستخدمين</label>
                        <div class="col-sm-12">
                            <select  class="form-control">
                                <option selected>اضافة مستخدمين</option>
                                <option value="1">ايمن</option>
                                <option value="2">عزالدين</option>
                                <option value="3">علي</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="addFile" class="form-label">اضافة ملفات</label>
                        <input type="file" multiple class="form-control" id="addFile">
                    </div>
                    <div class="row mb-3">
                        <label for="TaskDescription" class="form-label">الوصف</label>
                        <textarea class="form-control" id="TaskDescription" placeholder="وصف للمهمة" rows="3"></textarea>
                    </div>
                    <div class="row mb-3">
                        <label class="form-label me-5">الحالة</label>
                        <div class="d-inline">
                            <a href="#" class="btn btn-sm me-2 btn-outline-purple  " title="بانتظار البدء"> <i class="fas fa-clock"></i></a>
                            <a href="#" class="btn btn-sm me-2 btn-outline-danger  " title="توقف حرج">  <i class="far fa-stop-circle"></i>  </a>
                            <a href="#" class="btn btn-sm me-2 btn-outline-warning  " title="بانتظار المراجعة"><i class="fas fa-clipboard-check"></i></a>
                            <a href="#" class="btn btn-sm me-2 btn-outline-blue  " title="قيد التنفيد">   <i class="fas fa-tasks"></i></a>
                            <a href="#" class="btn btn-sm me-2 btn-outline-success  " title="مكتملة">    <i class="fas fa-check-circle"></i></a>
                        </div>
                    </div>

                    <div class=" row mb-3">
                        <label class="form-label me-5">الاولوية</label>
                        <div class="d-inline">
                            <a href="#" class="btn btn-sm me-2 btn-outline-secondary  " title="بدون اولوية"><i class="far fa-flag"></i></a>
                            <a href="#" class="btn btn-sm me-2 btn-outline-pink  " title="اولوية مبدئية"> <i class="far fa-flag"></i></a>
                            <a href="#" class="btn btn-sm me-2 btn-outline-warning  " title=" اولوية متوسطة"><i class="far fa-flag"></i> </a>
                            <a href="#" class="btn btn-sm me-2 btn-outline-danger  " title="اولوية قصوى">   <i class="far fa-flag"></i></a>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-pink" data-bs-dismiss="modal">إغلاق</button>
                    <button type="button" class="btn btn-outline-purple" data-bs-dismiss="modal">إضافة</button>
                </div>
            </div>
        </div>
    </div>



@section styles {

}

@section scripts {
    <script src="~/lib/apex-charts/apexcharts.min.js"></script>
    <script src="~/js/pages/jquery.task.init.js"></script>
}
